/*
!/zDDW.esp
!/Scripts/DDWDepthsDemoQuest.pex
!/Scripts/DDWDepthsDemoQuestBossLoot.pex
!/Scripts/DDWDepthsDemoQuestTrapdoor.pex
!/Screenshots/*
!/.gitignore
!/README.md
Scripts/DDWDepthsDemoQuestNew.pex
Scripts/DDWDepthsDemoQuestNew.pex
